h1,h2,p {
    text-align: center;
}
/*Task 58: Style both the h1 and the h2 elements so that only these elements' text use Impact font.*/
/*Task 59: Add the fallback font serif after the Impact font.*/
h1,h2{
    font-family: Impact,serif;
}
/*Step 72: To create a little more room around the menu, add 20px of space on the inside of the body element by using the padding property.*/
body {
    padding: 20px;
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
}
.menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    padding: 20px;
    max-width: 500px;
}
.flavor,.dessert{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 24.1%;
}
/*Step 73: Target all the p elements nested in elements with the class named item and set their top and bottom margin to be 5px.*/
/*Step 74: Using the same style selector in the previous step, make the font size of the items and prices larger by using a value of 18px.*/
.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
/*Task 60: Make the Est. 2020 text italicized by creating an established class selector and giving it the font-style property with the value italic.*/
.established{
    font-style: italic;
}
/*Task 67: Change the height of the hr element to be 3px.*/
/*Task 68: Change the background color of the hr element to brown so it matches the color of the coffee beans.*/
/*Task 69: Make all the edges of the hr element the same color as the background of it using the border-color property.*/
/*Task 70: Change the height property of the hr to be 2px, so the total height of it becomes 4px.*/
hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
}
/*Task 62: Add two new type selectors (h1 and h2). Use the font-size property for both, but use the value 40px for the h1 and 30px for the h2.*/
/*Task 84: Change the top margin of the h1 element to 0 to remove all the top margin.*/
/*Task 85: To remove some of the vertical space between the h1 element and the text Est. 2020, change the bottom margin of the h1 to 15px.*/
h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
h2{
    font-size: 30px;
}
/*Task 75: Add some more space by creating a class named bottom-line using 25px for the margin-top property.*/
.bottom-line{
    margin-top: 25px;
}
/*Task 77: Next you are going to be styling the footer element. To keep the CSS organized, add a comment at the end of styles.css with the text FOOTER.*/
/*FOOTER*/
/*Task 78: Moving down to the footer element, make all the text have a value of 14px for the font size.*/
footer{
    font-size: 14px;
}
/*Task 86: To decrease the default margin space below the address p element, create a class selector named address and use the value 5px for the margin-bottom property.*/
.address{
    margin-bottom: 5px;
}
/*Task 79: To make the footer links the same color regardless if a link has been visited, use a type selector for the anchor element (a) and use the value black for the color property.*/
a{
    color: black;
}
/*Task 80: Change the color of the footer Visit our website link to be grey when a user has visited the link.*/
/*Task 83: To keep with the same color theme you have already been using (black and brown), change the color for when the link is visited to black and use brown for when the link is actually clicked.*/
a:visited{
    color: black;
}
/*Task 81: Change the color of the footer Visit our website link to be brown when a user hovers over it.*/
a:hover{
    color: brown;
}
/*Task 82: Change the color of the footer Visit our website link to be white when clicked on.*/
a:active{
    color: brown;
}
/*Task 89: To make the image behave like heading elements (which are block-level), create an img type selector and use the value block for the display property and use the applicable margin-left and margin-right values to center it horizontally.*/
/*Task 91: There is an easier way, simply add a negative top margin to the img elements to pull them up from their current positions. Negative values are created using a - in front of the value. To complete this project, go ahead and use a negative top margin of 25px in the img type selector.*/
img{
    display: block;
    margin: -25px;
    margin-left: auto;
    margin-right: auto;
}
